{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PichanGO</title>
    <link rel="shortcut icon" href="{% static "./images/ball.icon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "./css/reset.css" %}" >
    <link rel="stylesheet" href="{% static "./css/styles.css" %}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="wrapper">
    <div class="w3_baner">  
        <!--header-->
        <header class ="header">
            <figure>
                <img src="{% static "./Images/logosmall.png" %}" alt="logo">
            </figure>
            <nav class="nav-main">
                <ul>
                    <li><a href="/listajuegos/">JUEGOS</a></li>
                    <li><a href="/listacanchas/">CANCHAS</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="active" href="{% url 'sign_out' %}">LOGOUT</a></li>
                        {% else %}
                            <li><a class="active" href="{% url 'sign_in' %}">LOGIN</a></li>                        
                        {% endif %}
                    
                </ul>
            </nav>
        </header>
        <!--main-->
        <main class= "main">  
            
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                        <div class="content"><h2>Register</h2></div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for non_field_error in form.non_field_errors %}
                                <p class="help is-danger">{{ non_field_error }}</p>
                            {% endfor %}
                            {% for field in form %}
                                <div class="field">
                                    <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                                    {{ field }}
                                {% for error in field.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                                </div>
                            {% endfor %}
                            
                            
                            <input type="submit" value="Crear Juego" class="button is-primary">
                            <p><a href="{% url 'listajuegos' %}">Ver juegos</a></p>
                        </form>
                    </div>
                </div>
            </div>      
        
        </main>
  
        <!--footer-->
    

    </div>
    </div>

</body>
</html>